.btn {
    color: var(--primary);
    border-color: var(--primary);
}

.btn:hover {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}

.btn:focus {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}

.btn:active {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary-dark);
}