.btn {
    color: #6e3b3b;
    border-color: #6e3b3b;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

.btn:focus {
    color: #fff;
    border-color: #fff;
}

.btn:active {
    color: #fff;
    border-color: #fff;
}