.forgot-password-link {
    color: var(--text-secondary) !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: var(--primary) !important;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: transparent !important;
}